# Ping these folks when changes are made to this repository
*   @marcomorain @iynere @ryanwohara

# For images with a language advocate, recommend them instead.

ruby/*      @zzak
clojure/*   @technomancy
openjdk/*   @eddiewebb
golang/*    @felicianotech
node/*      @hannahhenderson
php/*       @ryanwohara
android/*   @marcomorain
python/*    @iynere
